*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}


/* Header */

.landing_message {
    width: 100%;
    height: 100%;
}

.main_banner {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -100;
}

.landing_message_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landing_message_container img {
    margin: 90px 0;
    filter: brightness(0) invert(1);
}

.landing_message_container h1 {
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: 100;
}

.landing_message_container p {
    color: rgba(255, 255, 255, 0.884);
    font-size: 30px;
    margin-bottom: 70px;
    margin-top: 0;
}

.landing_message_container button {
    padding: 20px 60px;
    border-radius: 30px;
    background-color: #3c8cff;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition-duration: 0.4s;
}

.landing_message_container button:hover {
    background-color: #291dd1;
}

.charging {
    width: 100%;
    height: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.charging_container {
    display: flex;
    margin-top: 45px;
}

.list_box {
    flex-basis: 53%;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.list_box ul {
    margin-right: 5%;
    padding: 9px 0 9px 75px;
    background-image: linear-gradient(to right, #3c8efe, #09c1dc);
    color: white;
    font-weight: bold;
    font-size: 25px;
    border-radius: 10px;
    width: 420px;
    height: 165px;
    line-height: 35px;
}

.image_box img {
    width: 100%;
    max-width: 100%;
}


/* Third section */

.benefits {
    width: 100%;
    height: 100%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    margin-bottom: 150px;
}

.benefits h2 {
    margin-top: 10%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    color: #333333;
}

.benefits_container {
    display: grid;
    justify-content: space-evenly;
    grid-template-areas: "business data" "visa dashboard" "money free";
    row-gap: 30px;
}

.benefits_container h3 {
    color: #797676;
}

.benefits_container p {
    font-weight: bold;
}


/* Business Grid */

.business {
    display: grid;
    column-gap: 30px;
    grid-template-rows: 30px;
    grid-template-areas: "img h3" "img p";
    justify-content: left;
}

.business img {
    grid-area: img;
}

.business h3 {
    grid-area: h3;
}

.business p {
    grid-area: p;
}


/* Data Grud */

.data {
    display: grid;
    column-gap: 30px;
    grid-template-rows: 30px;
    grid-template-areas: "img h3" "img p";
    justify-content: left;
}

.data img {
    grid-area: img;
}

.data h3 {
    grid-area: h3;
}

.data p {
    grid-area: p;
}


/* Visa Grod */

.visa {
    display: grid;
    column-gap: 30px;
    grid-template-rows: 30px;
    grid-template-areas: "img h3" "img p";
    justify-content: left;
}

.visa img {
    grid-area: img;
}

.visa h3 {
    grid-area: h3;
}

.visa p {
    grid-area: p;
}


/* Dashboard Grid */

.dashboard {
    display: grid;
    column-gap: 30px;
    grid-template-rows: 30px;
    grid-template-areas: "img h3" "img p";
    justify-content: left;
}

.dashboard img {
    grid-area: img;
}

.dashboard h3 {
    grid-area: h3;
}

.dashboard p {
    grid-area: p;
}


/* Monet Grid */

.money {
    display: grid;
    column-gap: 30px;
    grid-template-rows: 30px;
    grid-template-areas: "img h3" "img p";
    justify-content: left;
}

.money img {
    grid-area: img;
}

.money h3 {
    grid-area: h3;
}

.money p {
    grid-area: p;
}


/* Support Grid */

.support {
    display: grid;
    column-gap: 30px;
    grid-template-rows: 30px;
    grid-template-areas: "img h3" "img p";
    justify-content: left;
}

.support img {
    grid-area: img;
}

.support h3 {
    grid-area: h3;
}

.support p {
    grid-area: p;
}


/* Middle section */

.middle {
    width: 100%;
    height: 100%;
}

.middle_background {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -100;
}

.middle_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.middle_container h4 {
    margin-top: 100px;
    color: white;
    font-size: 40px;
}

.middle_container button {
    padding: 20px 60px;
    border-radius: 30px;
    background-color: #3c8cff;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition-duration: 0.4s;
    margin-bottom: 50px;
}

.middle_container button:hover {
    background-color: #291dd1;
}


/* Terminals */

.terminals {
    width: 100%;
    height: 100%;
}

.terminals_background {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -100;
}

.terminals_container {
    width: 100%;
    height: 100%;
    max-width: 85rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    display: grid;
    row-gap: 200px;
    column-gap: 150px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 300px;
}

.terminals_message {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
}

.terminals_message h5 {
    font-size: 40px;
    font-weight: 100;
}

.terminals_message p {
    margin-top: -55px;
    margin-bottom: 50px;
    line-height: 20px;
}

.terminals_message button {
    padding: 15px 80px;
    border-radius: 30px;
    background-color: #3c8cff;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition-duration: 0.4s;
}

.terminals_message button:hover {
    background-color: #291dd1;
}


/* Phone Image 1 */

.phone1 {
    display: flex;
    justify-content: end;
    flex-direction: column;
    position: relative;
}

.phone1_1 {
    transition: background-color 400ms;
    cursor: pointer;
    transition: 1s;
}

.phone1_container {
    display: flex;
    justify-content: center;
}

.phone1 p.description_phone1 {
    font-size: 30px;
    color: #7e7c7c;
    text-align: center;
}

.phone1_bg {
    position: absolute;
    z-index: -10;
    opacity: 0;
    transition: opacity 0.5s;
}

.phone1_container:hover img.phone1_1 {
    transform: rotate(-10deg);
    filter: contrast(140%);
}

.phone1_container:hover img.phone1_bg {
    opacity: 1;
}

.price_phone1 {
    background-image: linear-gradient(#09bad4, #3c8cff);
    position: absolute;
    top: -15%;
    left: 68%;
    border-radius: 50px 50px 50px 0px;
    z-index: 10;
}

.price_phone1 p {
    color: white;
    padding: 20px;
    margin: 0;
    font-size: 25px;
}

.price_phone1 span {
    font-size: 10px;
    display: block;
}

.tooltip_phone1 {
    position: absolute;
    border-radius: 7px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

.tooltip_phone1::before {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -70px;
    border-width: 30px;
    border-style: solid;
    filter: drop-shadow(0px 4px 4px rgba(130, 130, 130, 1));
    border-color: rgb(255, 255, 255) transparent transparent transparent;
}

.tooltip_phone1 p {
    font-size: 20px;
    color: #7e7c7c;
    padding-left: 30px;
    padding-right: 30px;
}

.tooltip_phone1 p.title_phone1 {
    color: #048ef8;
}

.phone1:hover .tooltip_phone1 {
    top: -220px;
    visibility: visible;
    opacity: 1;
}


/* Phone Image 2 */

.phone2 {
    display: flex;
    justify-content: end;
    flex-direction: column;
    position: relative;
}

.phone2_2 {
    transition: background-color 400ms;
    transition: 1s;
    cursor: pointer;
}

.phone2_container {
    display: flex;
    justify-content: center;
}

.phone2 p.description_phone2 {
    font-size: 30px;
    color: #7e7c7c;
    text-align: center;
}

.phone2_bg {
    position: absolute;
    z-index: -10;
    opacity: 0;
    transition: opacity 0.5s;
}

.phone2_container:hover img.phone2_2 {
    transform: rotate(-10deg);
    filter: contrast(140%);
}

.phone2_container:hover img.phone2_bg {
    opacity: 1;
}

.price_phone2 {
    background-image: linear-gradient(#09bad4, #3c8cff);
    position: absolute;
    top: -7%;
    left: 70%;
    border-radius: 50px 50px 50px 0px;
    z-index: 10;
}

.price_phone2 p {
    color: white;
    padding: 20px;
    margin: 0;
    font-size: 25px;
}

.price_phone2 span {
    font-size: 10px;
    display: block;
}

.tooltip_phone2 {
    position: absolute;
    border-radius: 7px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

.tooltip_phone2::before {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -70px;
    border-width: 30px;
    border-style: solid;
    filter: drop-shadow(0px 4px 4px rgba(130, 130, 130, 1));
    border-color: rgb(255, 255, 255) transparent transparent transparent;
}

.tooltip_phone2 p {
    font-size: 20px;
    color: #7e7c7c;
    padding-left: 30px;
    padding-right: 30px;
}

.tooltip_phone2 p.title_phone2 {
    color: #048ef8;
}

.phone2:hover .tooltip_phone2 {
    top: -200px;
    visibility: visible;
    opacity: 1;
}


/* Phone Image 3 */

.phone3 {
    display: flex;
    justify-content: end;
    flex-direction: column;
    position: relative;
}

.phone3_3 {
    transition: background-color 400ms;
    transition: 1s;
    cursor: pointer;
}

.phone3_container {
    display: flex;
    justify-content: center;
}

.phone3 p.description_phone3 {
    font-size: 30px;
    color: #7e7c7c;
    text-align: center;
}

.phone3_bg {
    position: absolute;
    z-index: -10;
    opacity: 0;
    transition: opacity 0.5s;
}

.phone3_container:hover img.phone3_3 {
    transform: rotate(-10deg);
    filter: contrast(140%);
}

.phone3_container:hover img.phone3_bg {
    opacity: 1;
}

.price_phone3 {
    background-image: linear-gradient(#09bad4, #3c8cff);
    position: absolute;
    top: -16%;
    left: 73%;
    border-radius: 50px 50px 50px 0px;
    z-index: 10;
}

.price_phone3 p {
    color: white;
    padding: 20px;
    margin: 0;
    font-size: 25px;
}

.price_phone3 span {
    font-size: 10px;
    display: block;
}

.tooltip_phone3 {
    position: absolute;
    border-radius: 7px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

.tooltip_phone3::before {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -70px;
    border-width: 30px;
    border-style: solid;
    filter: drop-shadow(0px 4px 4px rgba(130, 130, 130, 1));
    border-color: rgb(255, 255, 255) transparent transparent transparent;
}

.tooltip_phone3 p {
    font-size: 20px;
    color: #7e7c7c;
    padding-left: 30px;
    padding-right: 30px;
}

.tooltip_phone3 p.title_phone3 {
    color: #048ef8;
}

.phone3:hover .tooltip_phone3 {
    top: -220px;
    visibility: visible;
    opacity: 1;
}


/* Phone Image 4 */

.phone4 {
    display: flex;
    justify-content: end;
    flex-direction: column;
    position: relative;
}

.phone4_4 {
    transition: background-color 400ms;
    transition: 1s;
    cursor: pointer;
}

.phone4_container {
    display: flex;
    justify-content: center;
}

.phone4 p.description_phone4 {
    font-size: 30px;
    color: #7e7c7c;
    text-align: center;
}

.phone4_bg {
    position: absolute;
    z-index: -10;
    opacity: 0;
    transition: opacity 0.5s;
}

.phone4_container:hover img.phone4_4 {
    transform: rotate(-10deg);
    filter: contrast(140%);
}

.phone4_container:hover img.phone4_bg {
    opacity: 1;
}

.price_phone4 {
    background-image: linear-gradient(#09bad4, #3c8cff);
    position: absolute;
    top: -10%;
    left: 73%;
    border-radius: 50px 50px 50px 0px;
    z-index: 10;
}

.price_phone4 p {
    color: white;
    padding: 20px;
    margin: 0;
    font-size: 25px;
}

.price_phone4 span {
    font-size: 10px;
    display: block;
}

.tooltip_phone4 {
    position: absolute;
    border-radius: 7px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

.tooltip_phone4::before {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -70px;
    border-width: 30px;
    border-style: solid;
    filter: drop-shadow(0px 4px 4px rgba(130, 130, 130, 1));
    border-color: rgb(255, 255, 255) transparent transparent transparent;
}

.tooltip_phone4 p {
    font-size: 20px;
    color: #7e7c7c;
    padding-left: 30px;
    padding-right: 30px;
}

.tooltip_phone4 p.title_phone4 {
    color: #048ef8;
}

.phone4:hover .tooltip_phone4 {
    top: -190px;
    visibility: visible;
    opacity: 1;
}


/* Phone Image 5 */

.phone5 {
    display: flex;
    justify-content: end;
    flex-direction: column;
    position: relative;
}

.phone5_5 {
    transition: background-color 400ms;
    transition: 1s;
    cursor: pointer;
}

.phone5_container {
    display: flex;
    justify-content: center;
}

.phone5 p.description_phone5 {
    font-size: 30px;
    color: #7e7c7c;
    text-align: center;
}

.phone5_bg {
    position: absolute;
    z-index: -10;
    opacity: 0;
    transition: opacity 0.5s;
}

.phone5_container:hover img.phone5_5 {
    transform: rotate(-10deg);
    filter: contrast(140%);
}

.phone5_container:hover img.phone5_bg {
    opacity: 1;
}

.price_phone5 {
    background-image: linear-gradient(#09bad4, #3c8cff);
    position: absolute;
    top: 8%;
    left: 71%;
    border-radius: 50px 50px 50px 0px;
    z-index: 10;
}

.price_phone5 p {
    color: white;
    padding: 20px;
    margin: 0;
    font-size: 25px;
}

.price_phone5 span {
    font-size: 10px;
    display: block;
}

.tooltip_phone5 {
    position: absolute;
    border-radius: 7px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

.tooltip_phone5::before {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -70px;
    border-width: 30px;
    border-style: solid;
    filter: drop-shadow(0px 4px 4px rgba(130, 130, 130, 1));
    border-color: rgb(255, 255, 255) transparent transparent transparent;
}

.tooltip_phone5 p {
    font-size: 20px;
    color: #7e7c7c;
    padding-left: 30px;
    padding-right: 30px;
}

.tooltip_phone5 p.title_phone5 {
    color: #048ef8;
}

.phone5:hover .tooltip_phone5 {
    top: -110px;
    visibility: visible;
    opacity: 1;
}


/* Partners */

.terminals_partners {
    display: grid;
    grid-auto-flow: column;
    padding: 0 190px;
    margin-top: 40px;
}


/* Feedback Section */

.feedback {
    width: 100%;
    height: 100%;
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    margin-top: 150px;
    margin-bottom: 50px;
}

.feedback h6 {
    text-align: center;
    font-size: 35px;
    font-weight: 100;
}

.owl-carousel {
    cursor: pointer;
}


/* Footer */

footer {
    background-color: #202020;
    padding: 30px 0;
    text-align: center;
}

footer img {
    filter: brightness(0) invert(1);
}

footer em {
    color: #048ef8;
    cursor: pointer;
}

footer svg {
    color: #048ef8
}

.footer_container {
    width: 96%;
    margin: 0 auto;
    padding: 0 2%;
    color: white;
}

.footer_icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    border-top: 2px solid #333;
    padding-top: 30px;
    margin-top: 30px;
}


/* MEDIA QUERIES */

@media screen and (max-width: 1635px) {
    .copyright br {
        display: none;
    }
}

@media screen and (max-width: 1480px) {
    .middle_container h4 {
        margin-top: 50px;
    }
    .terminals_partners {
        padding: 0px 80px;
    }
    footer p br {
        display: none;
    }
}

@media screen and (max-width: 1390px) {
    .terminals_container {
        column-gap: 0;
    }
    .price_phone1 {
        left: 65%;
    }
    .price_phone2 {
        left: 66%;
    }
    .price_phone3 {
        left: 68%;
    }
    .price_phone4 {
        left: 68%;
    }
    .price_phone5 {
        left: 66%;
    }
}

@media screen and (max-width: 1300px) {
    .list_box {
        flex-basis: 48%;
    }
}

@media screen and (max-width: 1170px) {
    .terminals_container {
        grid-template-columns: 1fr 1fr;
        max-width: 50rem;
        row-gap: 250px;
    }
    .terminals_message {
        align-items: center;
        text-align: center;
    }
    .price_phone2 {
        top: 0;
    }
    .phone2:hover .tooltip_phone2 {
        top: -160px;
    }
    .price_phone4 {
        top: -17%;
    }
    .phone4:hover .tooltip_phone4 {
        top: -230px;
    }
    .price_phone5 {
        top: 5%;
    }
    .phone5:hover .tooltip_phone5 {
        top: -130px;
    }
}

@media screen and (max-width: 1100px) {
    .middle_container h4 {
        font-size: 30px;
        margin-top: 30px;
    }
    .middle_container button {
        padding: 12px 45px;
    }
    .terminals_partners {
        padding: 0px 25px;
    }
}

@media screen and (max-width: 1040px) {
    .landing_message_container img {
        margin: 50px 0;
    }
}

@media screen and (max-width: 950px) {
    .terminals_partners {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .terminals_partners img {
        margin: 3px 3px;
    }
}

@media screen and (max-width: 845px) {
    .landing_message_container img {
        margin: 10px 0;
    }
    .landing_message_container h1 {
        font-size: 40px;
    }
    .landing_message_container p {
        font-size: 25px;
        margin-bottom: 25px;
    }
    .landing_message_container button {
        padding: 12px 40px;
        font-size: 15px;
        font-weight: bold;
    }
    .list_box ul {
        width: 370px;
        height: 145px;
        line-height: 25px;
        font-size: 23px;
    }
    .benefits_container {
        grid-template-areas: initial;
        align-items: center;
        justify-content: center;
    }
    .middle_container h4 {
        margin-top: 15px;
    }
    .terminals_container {
        margin-top: 220px;
    }
    .benefits {
        margin-bottom: 60px;
    }
    .feedback h6 {
        margin-top: -30px;
    }
    #lightbox img {
        height: 350px;
    }
}

@media screen and (max-width: 755px) {
    .tooltip_phone1 p {
        padding-left: 10px;
        padding-right: 10px;
    }
    .tooltip_phone3 p {
        padding-left: 10px;
        padding-right: 10px;
    }
    .tooltip_phone5 p {
        padding-left: 10px;
        padding-right: 10px;
    }
    .tooltip_phone5 {
        margin-left: 15px;
    }
}

@media screen and (max-width: 740px) {
    .middle_container h4 {
        margin-top: 10px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 710px) {
    .terminals_container {
        grid-template-columns: 1fr;
        max-width: 20rem;
        margin-top: 0;
    }
    .terminals_message h5 {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 75px;
    }
    .tooltip_phone1 p {
        padding-left: 30px;
        padding-right: 30px;
    }
    .tooltip_phone3 p {
        padding-left: 30px;
        padding-right: 30px;
    }
    .tooltip_phone5 p {
        padding-left: 30px;
        padding-right: 30px;
    }
    .phone1:hover .tooltip_phone1 {
        left: -30px;
    }
    .price_phone1 {
        left: 71%;
    }
    .phone2:hover .tooltip_phone2 {
        left: -35px;
        top: -230px;
    }
    .price_phone2 {
        left: 75%;
        top: -20%;
    }
    .phone3:hover .tooltip_phone3 {
        left: -35px;
        top: -230px;
    }
    .price_phone3 {
        left: 75%;
        top: -17%;
    }
    .phone4:hover .tooltip_phone4 {
        left: -35px;
        top: -230px;
    }
    .price_phone4 {
        left: 75%;
        top: -17%;
    }
    .phone5:hover .tooltip_phone5 {
        left: -35px;
        top: -230px;
    }
    .price_phone5 {
        left: 75%;
        top: -23%;
    }
}

@media screen and (max-width: 670px) {
    .list_box ul {
        padding: 9px 0 9px 52px;
        width: 310px;
        height: 105px;
        line-height: 10px;
        font-size: 20px;
    }
}

@media screen and (max-width: 635px) {
    .landing_message_container h1 {
        font-size: 25px;
    }
    .landing_message_container p {
        font-size: 16px;
    }
    .charging_container {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .charging {
        max-width: 25rem;
    }
}

@media screen and (max-width: 565px) {
    .middle_container h4 {
        font-size: 20px;
    }
    .middle_container button {
        margin-bottom: 0;
        padding: 5px 25px;
        font-size: 14px;
        font-weight: bold;
    }
    .phone1:hover .tooltip_phone1 {
        left: -40px;
        top: -230px;
    }
}

@media screen and (max-width: 535px) {
    .landing_message_container img {
        width: 50px;
    }
    .benefits h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    .phone1:hover .tooltip_phone1 {
        left: -30px;
    }
    .phone2:hover .tooltip_phone2 {
        left: -30px;
    }
    .phone3:hover .tooltip_phone3 {
        left: -30px;
    }
    .phone4:hover .tooltip_phone4 {
        left: -30px;
    }
    .phone5:hover .tooltip_phone5 {
        left: -30px;
    }
    .terminals_container {
        padding: 0;
    }
}

@media screen and (max-width: 465px) {
    .benefits_container img {
        width: 90px;
    }
    .benefits_container div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .benefits_container {
        row-gap: 10px;
    }
    .benefits_container h3 {
        margin: 3px;
    }
    .benefits_container p {
        margin: 3px;
    }
    .phone1:hover .tooltip_phone1 {
        left: 0;
    }
    .phone2:hover .tooltip_phone2 {
        left: 0;
    }
    .phone3:hover .tooltip_phone3 {
        left: 0;
    }
    .phone4:hover .tooltip_phone4 {
        left: 0;
    }
    .phone5:hover .tooltip_phone5 {
        left: 0;
    }
    .terminals_container {
        margin: 0 10px;
    }
}

@media screen and (max-width: 435px) {
    .benefits_container div {
        column-gap: 10px;
    }
}

@media screen and (max-width: 420px) {
    .landing_message_container img {
        width: 50px;
    }
    .benefits_container h3 {
        font-size: 17px;
    }
}

@media screen and (max-width: 410px) {
    .middle_container h4 {
        margin-bottom: 5px;
    }
    .landing_message_container img {
        width: 35px;
    }
}